.container {
  display: grid;
  height:100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "bedroom1 livingroom oven sink"
  "fullbath livingroom  livingroom kitchen"
  "bedroom2 halfbath bedroom3 bedroom3";
  text-align: center;
  font-size: medium;
}

.oven {
  background:blue;
  grid-area: oven;
}

.sink {
  background:purple;
  grid-area: sink;
}

.fullbath {
  background: burlywood;
  grid-area: fullbath;
}

.halfbath {
  background: pink;
  grid-area: halfbath;
}

.bedroom1 {
  background:red;
  grid-area: bedroom1;
}

.bedroom2 {
  background: yellow;
  grid-area: bedroom2;
}

.bedroom3 {
  background:green;
  grid-area: bedroom3;
}

.livingroom {
  background: orange;
  grid-area: livingroom;
}

.kitchen {
  background:chartreuse;
  grid-area: kitchen;
}
